node_modules
dist
coverage
.angular
apps/backend/dist
apps/backend/node_modules
apps/backend/coverage
apps/backend/src/generated
apps/frontend/dist
apps/frontend/node_modules
apps/frontend/.angular
package-lock.json
apps/backend/package-lock.json
apps/frontend/package-lock.json
apps/backend/prisma/migrations
